:root{
    --backgroundBody:#9f90ea;
    --backgroundcontainer:#171a4a;
    --lettercolor:#675cb0;

}
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    width:100%;
    height: 100vh;
    display:grid;
    place-items: center;
    background-color: var(--backgroundBody);
    color:var(--lettercolor);
}

.container{
    width:320px;
    height: 288px;
    max-width: 350px;
    min-width: 315px;
    border:none;
    border-radius: 24px;
    background-color: var(--backgroundcontainer);
    padding:25px;
    box-shadow: 0 8px 8px rgba(56,73,53,0.85);
}
.main-container--form{
    display:flex;
    flex-direction: column;
}
.main-container--form label h1{
    font-size: 2.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--lettercolor);
}

.main-container--form .container-form--nombre{
        font-size: 1.8rem;
        font-weight: 500;
        margin-bottom: 15px;

}
.main-container--form .container-form--apellido{
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 15px;

}
.primary-button{
    font-weight: bold;
    width:100px;
    height: 31px;
    border:none;
    border-radius: 10px;
    background-color: var(--backgroundBody);
    color:var(--backgroundcontainer);
    margin-top:10px;
    align-self: center;
    box-shadow: 0 8px 8px rgba(53,86,56,0.35);
    cursor: pointer;
}
.primary-button:hover{
    background-color:#171a4a;
    color:var(--lettercolor);
    border:1px solid var(--lettercolor);
}